@page "{handler?}"
@model Instructors.CreateEdit

@{
    ViewBag.Title = Model.Data.Id == null ? "Create" : "Edit";
}

<h2>@(Model.Data.Id == null ? "Create" : "Edit")</h2>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Data.Id" />
            <form-block asp-for="Data.LastName"/>
            <form-block asp-for="Data.FirstMidName"/>
            <form-block asp-for="Data.HireDate"/>
            <form-block asp-for="Data.OfficeAssignmentLocation"/>
            <div class="form-group">
                @foreach (var course in Model.Data.AssignedCourses)
                {
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input id="@($"cb{course.CourseId}")" 
                               name="@($"cb{course.CourseId}")" 
                               class="custom-control-input" 
                               type="checkbox" 
                               value="@course.CourseId" 
                               @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                        <label class="custom-control-label" for="@($"cb{course.CourseId}")">@course.CourseId : @course.Title</label>
                    </div>
                }
            </div>
            <form-block-submit>Save</form-block-submit>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
